.input-group-addon {
    color: #93a1a1;
    background-color: #002b36;
    border: none;
}

.bubble {
    background-color: #002b36;
}

select option:checked {
    background: #007593 -webkit-linear-gradient(bottom, #007593 0%, #007593 100%);
}

.card-body {
    border: 1px solid #586e75;
    background-color: #073642;
}

.card-header {
    border: 1px solid #586e75;
    background-color: #073642;
}

.badge {
    color: #839496;
    background-color: #002b36;
}

.checkbox-success {
    color: rgb(108, 180, 110);
}

.bg-success {
    color: rgb(108, 180, 110);
    background: rgb(42, 62, 24) !important;
}

.bg-danger {
    color: rgb(191, 93, 92);
    background: rgb(58, 23, 23) !important;
}

.bg-black {
    background: #002b36 !important;
}

.bg-info {
    color: rgb(89, 162, 198);
    background: rgb(14, 49, 67) !important;
}

.bg-warning {
    color: rgb(188, 155, 99);
    background: rgb(65, 56, 7) !important;
}

.alert-success {
    color: rgb(108, 180, 110);
    background: rgb(42, 62, 24);
}

.alert-danger {
    color: rgb(191, 93, 92);
    background: rgb(58, 23, 23);
}

.alert-info {
    color: rgb(89, 162, 198);
    background: rgb(14, 49, 67);
}

.alert-warning {
    color: rgb(188, 155, 99);
    background: rgb(65, 56, 7);
}

.form-control {
    color: #eee8d5;
    background-color: #002b36;
    background-image: none;
    border: 1px solid #586e75;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-range,
.form-check-input {
    color: #eee8d5;
    background-color: #002b36;
    background-image: none;
    border: 1px solid #586e75;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control:focus,
.form-range:focus,
.form-check-input:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    background-color: #073642;
    color: #eee8d5;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #002b36;
    opacity: 1;
}

.btn:focus {
    outline: none;
}

#save-alert {
    border: 1px solid rgb(108, 180, 110);
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #468847;
}

.has-success .form-control {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.has-success .input-group-addon {
    color: #eee8d5;
    border-color: #468847;
}

.has-success .form-control-feedback {
    color: #468847;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #c09853;
}

.text-black {
    color: #002b36;
}

.edit-btn {
    color: #eee8d5;
    background-color: #073642;
}

.has-warning .form-control {
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.has-warning .input-group-addon {
    color: #ffda69;
    border-color: #ffda69;
}

.has-warning .form-control-feedback {
    color: #c09853;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #b94a48;
}

.has-error .form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-text {
    color: #D33682 !important;


}

.has-error .form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .input-group-addon {
    color: #f6c9c8;
    border-color: #b94a48;
}

.has-error .form-control-feedback {
    color: #b94a48;
}

.help-block {
    color: #c8d0d0;
}

.btn {
    background-image: none;
 /*   border: 1px solid transparent;*/
} 

.btn:hover,
.btn:focus {
    color: #93a1a1;
    text-decoration: none;
}

.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    color: #93a1a1;
    background-color: #073642;
    border-color: #586e75;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #93a1a1;
    background-color: #03181d;
    border-color: #3e4d52;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #073642;
    border-color: #586e75;
}

.btn-default .badge {
    color: #073642;
    background-color: #93a1a1;
}

.btn-primary {
    color: #357ebd;
    background-color: #428bca;
    border: 1px solid #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #285e8e;
    background-color: #3276b1;
    border: 1px solid #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary .badge {
    color: #428bca;
    background-color: #ffffff;
}

.btn-success {
    color: #4cae4c;
    background-color: #5cb85c;
    border: #4cae4c 1px solid;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #398439;
    background-color: #47a447;
    border: 1px solid #398439;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #ffffff;
}

.btn-info {
    color: #46b8da;
    background-color: #5bc0de;
    border: 1px solid #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #269abc;
    background-color: #39b3d7;
    border: 1px solid #269abc;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #ffffff;
}

.btn-warning {
    color: #eea236;
    background-color: #f0ad4e;
    border: 1px solid #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #d58512;
    background-color: #ed9c28;
    border: 1px solid #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #ffffff;
}


.btn-danger {
    color: #d43f3a;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #ac2925;
    background-color: #d2322d;
    border: 1px solid #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #ffffff;
}

.btn-link,
.nav-link {
    color: #4b92e7;
}

.nav-link.active {
    border-color: rgb(0, 81, 102) !important;
    border-bottom-color: transparent !important;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}

.btn-link:hover,
.btn-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent;
}

.nav-tabs {
    margin-bottom: 20px;
    border-bottom-color: rgb(0, 81, 102);
}


.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #eee8d5;
    text-decoration: none;
}

.input-group-addon {
    color: #93a1a1;
    background-color: #073642;
    border: 1px solid #586e75;
}


::-webkit-scrollbar {
    background-color: #003846;
    color: #889797;
}

::-webkit-scrollbar-thumb {
    background-color: #007593;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0093b9;
}

::-webkit-scrollbar-thumb:active {
    background-color: #007a9a;
}

::-webkit-scrollbar-corner {
    background-color: #002b36;
}

* {
    scrollbar-color: #007593 #003846;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8000;
    background-color: #002b36;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9000;
    top: 50%;
    left: 0px;
}