<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ _('Whiteboardbot Configuration') }}</title>
  {% import "bootstrap/form.html" as wtf %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootswatch.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/custom-bubble.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/custom-dark.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/limited-page.css') }}">
</head>

<body onload="partVisibility('num_of_bttns', '#btn_val', 'btn_', 10)">
  {% block content %}
  <script src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/scripts.js') }}"></script>
  {% include 'loading.html' %}
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1>{{ _('Add new privileged user') }}</h1>
    </div>
    <form method="POST" action="" onsubmit="resetFields('btn-entry', 'input'); resetFields('mail-entry', 'input');">
      {{ form.csrf_token() }}
      {% if form.success.data %}
      <div class="alert alert-success alert-dismissible fade show saved" id="save-alert" role="alert">
        <strong>{{ _('Success!') }}</strong> {{ _('Configuration was saved.') }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}

      {% for field, errors in form.errors.items() %}
        {% if field not in ["buttons", "cams", "mails"] and errors %}
          <div class="alert alert-danger">
            <strong>{{ form[field].label.text }}:</strong> {{ '; '.join(errors) }}
          </div>
        {% else %}
          {% for form_in_field in errors %}
            {% if form_in_field %}
              {% for deep_field, deep_errors in form_in_field.items() %}
                <div class="alert alert-danger">
                  <strong>{{ form[field].label.text }}:</strong> {{ '; '.join(deep_errors) }}
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <div>
        <div class="form-group col-sm-12">
          <label for="username">{{ _('Name of new user') }}</label>
          <div class="input-group">
            {{ form.username(class='form-control', id='username')}}
          </div>
          <small class="invalid-feedback"
            style="display: block;">{% for error in form.username.errors %}{{ error }}{% endfor %}</small>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="password">{{ _('Password for new user') }}</label>
          {{ form.password(class='form-control', id='password')}}
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <label for="password_check">{{ _('Repeat password') }}</label>
          {{ form.password_check(class='form-control', id='password_check')}}
        </div>
      </div>

                  <div class="mb-4 mt-4">

                    <button type="submit" class="btn btn-dark float-right">{{ _('Save settings') }}</button>
                  </div>
    </form>
    <script src="{{ url_for('.static', filename='js/after_scripts.js') }}"></script>
  </div>
  {% endblock %}
</body>

</html>
